{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <br><br><br>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="title">Modificar Contraseña</h2>
                    <hr>
                    <form action="{{ login }}" method="post" class="d-flex flex-column gap-4">
                        {% csrf_token %}
                        {{ form | crispy }} <!-- Este formulario lo genera django -->
                        <div class="buttons d-flex flex-row gap-2 justify-content-between">
                            <a href="{% url 'home' %}">
                                <button type="button" class="btn btn-primary">Ir al Home</button>
                            </a>
                            <div class="accounts ">
                                <a href="{% url 'view_passwords' %}">
                                    <button type="button" class="btn btn-primary">Cancelar</button>
                                </a>
                                <button type="submit" class="btn btn-success">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}