{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block js %}
<script>
    function eliminarPassword(id) {
        Swal.fire({
            'title': '¿Estás Seguro?',
            'text': 'Esta acción no se puede deshacer.',
            'icon': 'question',
            'showCancelButton': true,
            'cancelButtonText': 'Cancelar',
            'confirmButtonText': 'Eliminar',
            'confirmButtonColor': '#dc3545'
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = '/delete_password/'+id+'/'
            }
        })
    }
</script>
{% endblock %}
{% block title %}
<title>Lista de Contaseñas</title>
{% endblock %}

{% block content %}
<br><br><br>
    <div class="card">
        <div class="card-body">
            <h2>Lista de Contraseñas de @{{user.username}}</h2>
            <hr>
            {% if user.is_authenticated %}
                <table class="table table-striped table-hover table-responsive-sm">
                    <tr>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Sitio Web</th>
                        <th>Fecha de Creación</th>
                        <th>Opciones</th>
                    </tr>
                    {% for p in entity %}
                    {% if user.username == p.username %}
                        <tr>
                            <td>{{p.username}}</td>
                            <td>{{p.password}}</td>
                            <td><a href="{{ p.website }}" target="_blank">{{p.website}}</a></td>
                            <td>{{p.creation_date}}</td>
                            <td>
                                <a href="{% url 'update_password' p.id %}">
                                    <button type="button" class="btn btn-primary btn-sm">Editar</button>
                                </a>
                                <a href="#" onclick="eliminarPassword({{ p.id }})">
                                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% include 'app/paginator.html' %}
            {% endif %}
        </div>
    </div>

{% endblock %}